{% apply inky_to_html %}
    <container>
        <row class="header">
            <columns>
                <h1 class="text-center">{{ 'password_reset.title'|trans }}</h1>
                <p class="text-center">{{ 'password_reset.message'|trans }}</p>
                <p class="text-center">
                    <a href="{{ resetUrl }}" class="button">{{ 'password_reset.button'|trans }}</a>
                </p>
                <p class="text-center small">
                    {{ 'password_reset.token_info'|trans }}: {{ token }}
                </p>
                <p class="text-center small">
                    {{ 'password_reset.expires_info'|trans }}
                </p>
            </columns>
        </row>
    </container>
{% endapply %}